$side-bar-width: 280px;

$navbar-height: 60px;

// Colors
$white: #ffffff;
$black-pearl: #1e272e;
$good-night: #485460;
$dull-green: #218C74;
$light-aqua-green: #55EFC4;
$aqua: #00CEC9;
$baltic-sea: #28343D;

// Breakpoints
$breakpoint-x-small: 0;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1200px;
$breakpoint-xx-large: 1400px;